@import url("./global.css");

header{
    display: flex; /* Para o grupo ficar ao lado de outro*/
    justify-content: space-between; /* Colocar os elementos nas extremidades*/
    align-items: center; /* Alinhamento dos elementos no eixo vertical*/ 
    padding: 30px; /* Espaçamento interno*/
    border-bottom: 0.7px solid var(--color-gray-3); /* borda inferior */

}

.container-nav-header{ /* coloca-se o . pq estamos estilizando um classe  */
    display: flex;  /* para que o grupo fiquei um ao lado do outro*/
    align-items: center; /* para alinhar os itens */
    gap: 70px; /* Distancia entre os elementos, entre os grupos */

}

.navigation-header ul { /* Se usa o navigation-header e algo que vc quer estilizar dentro de uma tag de grupo especifico ex: UL */
    display: flex;
    gap: 40px;
    list-style: none; /* Remove a bolinha */
}
.navigation-header ul li a {
    text-decoration: none; /* Decoração do texto */
    color: var(--color-black); /* cor do texto ja definida no glabal */ 
    font-family: var(--font-family-primary); /*Importação da familia da fonte */
}

.navigation-header ul li .menu-active{
    color: var(--color-blue);
}

.btn-header{
    font-family: var(--font-family-primary); /*Altera a fonte */
    text-decoration: none; /*Tira a decoração do texto */
    background-color: var(--color-blue); /*cor de fundo do botão */ 
    color: var(--color-white); /* cor do texto*/
    border-radius: 10px; /*arredondamento das bordas */
    padding: 10px 20px; /*espaçamento interno top right bottom left */
    font-weight: var(--font-weight-button); /* Espessura da fonte */
}


/* ---------------MAIN--------------------*/
main{
    display: flex; /*Usado pro grupo ficar um ao lado do outro*/
    justify-content: center; /*Centraliza os objetos na horizontal*/
    align-items: center; /*Centraliza os objetos na vertical*/
    gap: 50px; /*Distancia entre os objetos/elementos do grupo*/
    background-color: var(--color-blue-10); /*Cor do fundo*/
    padding: 50px 0; /*Espaçamento interno*/
}

.main-content{
    display: flex; /*Usado pro grupo ficar um ao lado do outro*/
    flex-direction: column; /*Para os elementos ficarem em coluna*/
    gap: 30px; /*Distancia entre os objetos/elementos do grupo*/
    width: 520px;
    height: 380px;
}

.main-content h1{
    font-family: var(--font-size-h1); /*Tamanho da fonte*/
    font-family: var(--font-family-primary); /*Altera a fonte*/
    font-weight: var(--font-weight-h1); /*Espessura da fonte*/
}

.main-content h1 span{
    color: var(--color-blue); /*Altera a cor da fonte*/
}

.main-content p{
    font-family: var(--font-family-primary); /*Altera a fonte*/
    color: var(--color-gray); /*Altera a cor da fonte*/
    line-height: 30px; /*Espaço entre linhas, espaçamento*/
}

.container-cta{
    display: flex; /*Usado pro grupo ficar um ao lado do outro*/
    gap: 10px; /*Distancia entre os objetos/elementos do grupo*/
}

.btn-primary, .btn-secondary {
    padding:8px 55px; /*Espaçamento interno*/
    border-radius: 10px; /*arredondamento das bordas */
    font-weight: var(--font-weight-button); /*Espessura da fonte*/
    text-decoration: none; /*Tira a decoração do texto */
    font-family: var(--font-weight-primary); /*Tamanho da fonte*/
}

.btn-primary{
    background-color: var(--color-blue); /*Cor do fundo*/
    color: var(--color-white); /*Cor do da fonte*/
    font-family: var(--font-family-primary); /*Familia da fonte*/
    transition: 0.3s; /*Tempo de transição do elemento*/
    
    
}

.btn-primary:hover{
    background-color: rgb(46, 46, 133);

}

.btn-secondary{
    background-color: var(--color-white); /*Cor do fundo*/
    color: var(--color-blue); /*Cor do da fonte*/
    border: 1px solid var(--color-blue); /*tamanho forma da borda e cor da borda*/
    font-family: var(--font-family-primary); /*Familia da fonte*/
    transition: 0.3s; /*Tempo de transição do elemento*/
}

.btn-secondary:hover{
    background-color: rgb(244, 244, 244);
}


/*-----------SERVICES-----------*/

.section-services{
    display: grid;
    grid-template-columns: repeat(4, max-content);
    gap: 25px;
    justify-content: center;
    padding: 30px 0;
    border-bottom: 0.7px solid var(--color-gray-3);
}

.container-item-services{
    display: flex;
    align-items: center;
    gap: 15px;
}

.container-item-services h2{
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-h4);
    font-size: var(--font-size-h4);
}

.container-item-services p{
    font-family: var(--font-family-primary);
    color: var(--color-gray-2);
    font-size: var(--font-size-caption);
}

/*-----------DETAILS-------------- */

.section-details{
    display: flex;  /* Habilitar o Gap*/
    flex-direction: column; /* Colocar os elementos em coluna*/
    gap: 80px; /* Distancia entre os elementos */
    align-items: center; /* Cuida da horizontal (flex-direction: column*/
    padding: 80px 0; /* Espaçamento Interno*/
}

.details-presentation{
    display: flex; /* Habilitar o grupo*/
    flex-direction: column; /* Colocar os elementos em coluna*/
    gap: 30px; /* Distancia entre os elementos */
    text-align: center; /* Centralizar o texto */
}

.details-presentation h2{
    font-family: var(--font-family-primary); /* Familia da fonte*/ 
    font-size: var(--font-size-h2); /* Tamanho da fonte */
    font-weight: var(--font-weight-h2); /* Espessura da fonte */
}

.details-presentation p{
    font-family: var(--font-family-primary); /* Familia da fonte */
    font-size: var(--font-size-body);
    color: var(--color-gray-2); /*Cor do texto */
    width: 665px; /* Largura */
    margin: 0 auto;
}

.service-description{
    display: flex; /* Distancia entre elementos */
    gap: 60px;
    align-items: center;
}

.content-service{
    display:flex; /* Habilitar o grupo*/
    flex-direction: column; /* Colocar os elementos em coluna*/
    gap: 40px; /* Distancia entre os elementos */
    text-align: left; /* Centralização do texto */
}

.service-details{
    display: flex; /*habilita como grupo*/
    gap: 25px; /*espoaço entre elementos*/
    align-items: center; /*alinhamento vertical*/
}

.content-service div span{
    font-family: var(--font-family-primary); /* familia*/
    font-size: var(--font-size-h4); /*tamanho da fonte*/
    font-weight: var(--font-weight-h4); /* espessura*/
}

.content-service div p{
    font-family: var(--font-family-primary); /* Familia da fonte*/
    color: var(--color-gray-2); /*Cor do texto */
    font-size: var(--font-size-caption); /* Tamanho da fonte */
}

.content-service h3{
    font-size: var(--font-size-h3);
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-h3);
    width: 420px;
}

.content-service h3 span{
    color: var(--color-blue);
}

.content-service p{
    color: var(--color-gray);
    font-family: var(--font-family-primary);
    line-height: 27px;
    width: 420px;
}

